@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --Orange: #ff7d1a;
  --Pale-orange: hsl(25, 100%, 94%);

  /* Neutral */
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: #68707d;
  --Grayish-blue: #b6bcc8;
  --Light-grayish-blue: #f7f8fd;
  --White: hsl(0, 0%, 100%);
  /* (with 75% opacity for lightbox background) */
  --Black:  ;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
